%table
  %tr
    %th Host
    %th Service
    %th Pid
    %th Status
    %th Since
    %th Normally
  - @services.each do |host, services|
    - services.each do |service|
      %tr
        %td= host
        %td= service['name']
        %td= service['pid']
        %td= service['status']
        %td= service['since']
        %td= service['normally']
