:javascript
  function action_click() {
    var action = $(this).data("action");
    if (action == "sysadmin") {
      alert("Please contact your sysdamin and pray he's got time");
    }
    else {
      var url = "/service/" + action;
      var json = { "host": $(this).data("host"), "service": $(this).data("service") };
      var data = JSON.stringify(json);
      /* alert("posting data: " + data + " to " + url); */
      $.post(url, data, function(data) { alert(data); }).error(function() { alert("error"); });
    }
  };

  $(document).ready(function() {
    $('.service-action').click(action_click);
  });

%table#services
  %tr
    %th Host
    %th Service
    %th Pid
    %th Status
    %th Since
    %th Normally
    %th Wants
    %th Action
  - @services.each do |host, services|
    - services.each do |s|
      %tr
        %td.host= host
        %td{:class => needs_warning?(s) ? "name error" : "name"}= s['name']
        %td.pid= s['pid']
        %td.status= s['status']
        %td.since= formatted_time(s['since'])
        %td.normally= s['normally']
        %td.wants= s['wants']
        %td
          %ul
            - possible_actions(s).each_with_index do |a,i|
              %li{:class => i==0 ? "first" : ""}
                %a{:class => "service-action", :data => {:host => host, :service => s['name'], :action => a}}= a
